.about-us-page{
               border:2px solid;
               width:auto;
               height:auto;
               font-size:20px;
               text-align:center;
}

.about-us-page p{
                 text-align:left;
}

.about-img{
           width:50%;
           height:50%;
}
