h1{
   background-color: #00227b;
   color: white;
   text-align: center;
}
h2{text-align: justify}

body{
     background-color: #ffcc23;
}

.container {
            background-color:#ff8100;
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
}

.container div a{
               color: white;
               text-decoration:none;
               height:auto;
               width:auto;
               text-align:center;
               line-height:50px;
               margin:50px;
               padding:10px 15px;
			   
}

.container div a:hover{
                       background-color: #c55200;
}

.logo-style {
           display: block;
           margin-left: auto;
           margin-right: auto;
           height:10%;
           width:auto;
		 position:absolute;
			left:0;
			top:0;
}
.image-style {margin-left: auto;
           margin-right: auto;
		   height:30%;
		   width:30%;
		   padding:10 px 15px;
	
}

p{ border-style: solid;
	padding: 5px
	text-align: justify;
	text-indent:20px;
	font-size: 20;
	
}



